interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Index%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["1347157"],"pages":{"1347157":{"pageid":1347157,"ns":106,"title":"Index:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-06-16T22:01:24Z","lastrevid":12078783,"length":2601,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Index%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20210706045705|11480897","continue":"||info|proofread|userinfo"},"query":{"pageids":["1347157"],"pages":{"1347157":{"pageid":1347157,"ns":106,"title":"Index:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-06-16T22:01:24Z","lastrevid":12078783,"length":2601,"revisions":[{"revid":12078783,"parentid":11480897,"minor":"","user":"InductiveBot","userid":204982,"timestamp":"2022-01-19T14:43:21Z","size":2601,"sha1":"1b2c3f5f897a589263a7facaca337cbdc4634a1c","roles":["main"],"slots":{"main":{"contentmodel":"proofread-index","contentformat":"text/x-wiki","*":"{{:MediaWiki:Proofreadpage_index_template\n|Type=book\n|Title=[[Tractatus
        Logico-Philosophicus]]\n|Language=en\n|Volume=\n|Author=[[Author:Ludwig Josef
        Johann Wittgenstein|Ludwig Wittgenstein]]\n|Translator=[[Author:Charles Kay
        Ogden|Charles Kay Ogden]]\n|Editor=\n|Illustrator=\n|School=\n|Publisher=Routledge
        & Kegan Paul\n|Address=London\n|Year=1922\n|Key=Tractatus Logico-Philosophicus\n|ISBN=\n|OCLC=\n|LCCN=\n|BNF_ARK=\n|ARC=\n|Source=djvu\n|I[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?prppiititle=Index%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&list=proofreadpagesinindex&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"proofreadpagesinindex":[{"pageoffset":1,"pageid":1347173,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1"},{"pageoffset":2,"pageid":1347174,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/2"},{"pageoffset":3,"pageid":1347175,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/3"},{"pageoffset":4,"pageid":1347176,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/4"},{"pageoffset":5,"pageid":1347177,"title":"Page:Wit[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=parse&page=Index%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&maxlag=5&format=json
  response:
    body:
      string: '{"parse":{"title":"Index:Wittgenstein - Tractatus Logico-Philosophicus,
        1922.djvu","pageid":1347157,"revid":12078783,"text":{"*":"<div class=\"mw-content-ltr
        mw-parser-output\" lang=\"en\" dir=\"ltr\"><style data-mw-deduplicate=\"TemplateStyles:r14927244\">.mw-parser-output
        #ws-index-container{display:table;border-spacing:1px 1px;box-sizing:border-box;width:100%}.mw-parser-output
        #ws-index-main-cell{padding:0;vertical-align:top}.mw-parser-output #ws-index-main-table{display:inline-table;border-collapse:collapse;border-spacing:0
        0;box-sizing:border-box;width:100%}.mw-parser-output #ws-index-cover-container{float:left;margin:.5em
        .25em .5em 0}.mw-parser-output #ws-index[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=File%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["1340708"],"pages":{"1340708":{"pageid":1340708,"ns":6,"title":"File:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-01-15T08:30:51Z","lastrevid":12737353,"length":1055,"protection":[],"restrictiontypes":["edit","move","upload"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: titles=File%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu&iiprop=timestamp%7Cuser%7Ccomment%7Curl%7Csize%7Csha1%7Cmime%7Cmediatype%7Carchivename%7Cbitdepth&prop=imageinfo%7Cproofread&action=query&indexpageids=&iilimit=500&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["1340708"],"pages":{"1340708":{"pageid":1340708,"ns":6,"title":"File:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu","imagerepository":"local","imageinfo":[{"timestamp":"2012-06-26T15:48:38Z","user":"Billinghurst","size":4277127,"width":2606,"height":4029,"pagecount":224,"comment":"==
        {{int:filedesc}} ==\n{{Book\n| Author       = [[Author:Ludwig Wittgenstein|]]\n|
        Editor       = \n| Translator   = Charles Kay Ogden\n| Illustrator  = \n|
        Title        = ''''Tractatus_Logico-Philosophicus''''\n| Subtitle     = \n|
        Series title = \n| Volume      ...","url":"https://upload.wikimedia.org/wikisource/en/f/f0/Wittgenstein_-_Tractatus_Logico-Philosophicus%2C_1922.djvu?utm_source=en.wikisource.org&utm_campaign=imageinfo&utm_content=original","descriptionurl":"https://en.wikisource.org/wiki/File:Wittgenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu","descriptionshorturl":"https://en.wikisource.org/w/index.php?curid=1340708","sha1":"a7f37e5be97d6b17294df19998545b4c22c0cd8b","mime":"image/vnd.djvu","mediatype":"OFFICE","bitdepth":0}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://upload.wikimedia.org/wikisource/en/f/f0/Wittgenstein_-_Tractatus_Logico-Philosophicus%2C_1922.djvu
  response:
    body:
      string: <BINARY_STUB>
    headers:
      content-type:
      - image/vnd.djvu
      etag:
      - 80278183bdc6fb354028025aebf2985c
      last-modified:
      - Wed, 19 Jan 2022 14:41:58 GMT
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
      x-content-security-policy-report-only:
      - 'default-src ''none''; style-src ''unsafe-inline'' data:; font-src data:;
        img-src data: https://upload.wikimedia.org/favicon.ico; connect-src https://upload.wikimedia.org/favicon.ico;
        media-src data: ''self''; report-uri https://commons.wikimedia.org/w/api.php?reportonly=1&source=image&action=cspreport&format=json&'
      x-object-meta-sha1base36:
      - jm9nvrczjltnucsvjzzfqenlgx4mbuz
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F1&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["1347173"],"pages":{"1347173":{"pageid":1347173,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-08-11T06:18:46Z","lastrevid":12078556,"length":13,"protection":[],"restrictiontypes":["edit","move"],"proofread":{"quality":0,"quality_text":"Without
        text"}}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F1&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20180808100600|7802376","continue":"||info|proofread|userinfo"},"query":{"pageids":["1347173"],"pages":{"1347173":{"pageid":1347173,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-08-11T06:18:46Z","lastrevid":12078556,"length":13,"proofread":{"quality":0,"quality_text":"Without
        text"},"revisions":[{"revid":12078556,"parentid":7802376,"minor":"","user":"InductiveBot","userid":204982,"timestamp":"2022-01-19T14:40:33Z","size":13,"sha1":"fe99bbbfad07912ab02e069166b83895f47ac473","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"0\" user=\"Kathleen.wright5\" /></noinclude><noinclude><references/></noinclude>"}},"comment":"InductiveBot
        moved page [[Page:Wittengenstein - Tractatus Logico-Philosophicus, 1922.djvu/1]]
        to [[Page:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu/1]] without
        leaving a redirect: Moving pages to new scan [[Index:Wittgenstein - Tractatus
        Logico-Philosophicus, 1922.djvu]]: Fix spelling mistake in filename","parsedcomment":"InductiveBot
        moved page <a href=\"/w/index.php?title=Page:Wittengenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu/1&amp;action=edit&amp;redlink=1\"
        class=\"new\" title=\"Page:Wittengenstein - Tractatus Logico-Philosophicus,
        1922.djvu/1 (page does not exist)\">Page:Wittengenstein - Tractatus Logico-Philosophicus,
        1922.djvu/1</a> to <a href=\"/wiki/Page:Wittgenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu/1\"
        title=\"Page:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu/1\">Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1</a> without leaving a redirect:
        Moving pages to new scan <a href=\"/wiki/Index:Wittgenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu\"
        title=\"Index:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu\">Index:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu</a>: Fix spelling mistake in filename","tags":["proofreadpage-quality0"]}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
[...]
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F8&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20220119144038|12078563","continue":"||info|proofread|userinfo"},"query":{"pageids":["1348966"],"pages":{"1348966":{"pageid":1348966,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/8","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-01-03T20:55:08Z","lastrevid":13642602,"length":420,"proofread":{"quality":4,"quality_text":"Validated"},"revisions":[{"revid":13642602,"parentid":12078563,"minor":"","user":"Xover","userid":21450,"timestamp":"2023-11-16T21:21:44Z","size":420,"sha1":"5810b1c6197f6bd4e92c8ae3f831567852162245","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"4\" user=\"TomyDuby\" /></noinclude>{{c|''''First published in this
        Series 1922''''<br /> \n''''Second impression (with a few corrections) 1933''''
        <br /> \n''''Third impression 1947'''' <br /> \n''''Fourth impression 1949''''
        <br /> \n''''Fifth impression 1951'''' <br /> \n''''Sixth impression (with
        an Index) 1955'''' <br /> \n''''Seventh impression 1958'''' <br /> \n''''Eighth
        impression 1960'''' <br /> \n\n\n\nPRINTED IN GREAT BRITAIN BY \n\nLUND HUMPHRIES
        \n\nLONDON \u2022 BRADFORD }}<noinclude><references/></noinclude>"}},"comment":"remove
        entirely empty template call","parsedcomment":"remove entirely empty template
        call","tags":["OAuth CID: 4664"]}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
[...]
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F19&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20240503090609|14161660","continue":"||info|proofread|userinfo"},"query":{"pageids":["1350337"],"pages":{"1350337":{"pageid":1350337,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/19","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-05-06T13:15:05Z","lastrevid":15018502,"length":2065,"proofread":{"quality":4,"quality_text":"Validated"},"revisions":[{"revid":15018502,"parentid":14161660,"minor":"","user":"JoanSevier","userid":3161126,"timestamp":"2025-04-19T01:49:05Z","size":2065,"sha1":"7f9cfac5b4f3f26dae8d9ef3f65d1d0dda3fdb4c","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"4\" user=\"DutchTreat\" />{{rh||INTRODUCTION|}}</noinclude>he uses
        is <math>(\\bar p,\\bar \\xi,\\bar N(\\bar \\xi))</math>. The following is
        the explanation of this symbol:\n::<math>\\bar p</math> stands for all atomic
        propositions, \n::<math>\\bar \\xi</math> stands for any set of propositions.
        \n::<math>\\bar N(\\bar \\xi)</math> stands for the negation of all the propositions
        making up <math>\\bar \\xi</math>. \n\nThe whole symbol <math>(\\bar p,\\bar
        \\xi,\\bar N(\\bar \\xi))</math> means whatever can be obtained by taking
  [...]
[...]
