interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Index%3ANeglectedArgument.pdf&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["4734308"],"pages":{"4734308":{"pageid":4734308,"ns":106,"title":"Index:NeglectedArgument.pdf","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:48:35Z","lastrevid":14857009,"length":123,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Index%3ANeglectedArgument.pdf&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250208190429|14856964","continue":"||info|proofread|userinfo"},"query":{"pageids":["4734308"],"pages":{"4734308":{"pageid":4734308,"ns":106,"title":"Index:NeglectedArgument.pdf","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:48:35Z","lastrevid":14857009,"length":123,"revisions":[{"revid":14857009,"parentid":14856964,"user":"Renamed
        user 6f7c43c4e44ebb1c321e7b1e597b5d8c","userid":3156792,"timestamp":"2025-02-08T19:17:13Z","size":123,"sha1":"63d4e0d3afed02a0ae854924a47e321bad4d8a00","roles":["main"],"slots":{"main":{"contentmodel":"proofread-index","contentformat":"text/x-wiki","*":"{{:MediaWiki:Proofreadpage_index_template\n|Type=book\n|Title=[[A
        Neglected Argument for the Reality of God]]\n|Language=en\n|Volume=\n|Author=[[Author:Charles
        Sanders Peirce|C. S. Peirce]]\n|Translator=\n|Editor=\n|Illustrator=\n|School=\n|Publisher=\n|Address=\n|Year=1908\n|Key=\n|ISBN=\n|OCLC=\n|LCCN=\n|BNF_ARK=\n|ARC=\n|DOI=\n|Source=pdf\n|Image=1\n|Progress=V\n|Transclusion=yes\n|Validation_date=\n|Pages=<pagelist
        />\n|Volumes=\n|Remarks=\n|Width=\n|Header=\n|Footer=\n|tmplver=\n}}"}},"comment":"Now
        transcluded and proofread","parsedcomment":"Now transcluded and proofread","tags":["wikieditor"]}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?prppiititle=Index%3ANeglectedArgument.pdf&list=proofreadpagesinindex&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"proofreadpagesinindex":[{"pageoffset":1,"pageid":4734312,"title":"Page:NeglectedArgument.pdf/1"},{"pageoffset":2,"pageid":4734315,"title":"Page:NeglectedArgument.pdf/2"},{"pageoffset":3,"pageid":4734318,"title":"Page:NeglectedArgument.pdf/3"},{"pageoffset":4,"pageid":4742930,"title":"Page:NeglectedArgument.pdf/4"},{"pageoffset":5,"pageid":4742926,"title":"Page:NeglectedArgument.pdf/5"},{"pageoffset":6,"pageid":4742927,"title":"Page:NeglectedArgument.pdf/6"},{"pageoffset":7,"pageid":4742959,"title":"Page:NeglectedArgument.pdf/7"},{"p[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=parse&page=Index%3ANeglectedArgument.pdf&maxlag=5&format=json
  response:
    body:
      string: '{"parse":{"title":"Index:NeglectedArgument.pdf","pageid":4734308,"revid":14857009,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><style data-mw-deduplicate=\"TemplateStyles:r14927244\">.mw-parser-output
        #ws-index-container{display:table;border-spacing:1px 1px;box-sizing:border-box;width:100%}.mw-parser-output
        #ws-index-main-cell{padding:0;vertical-align:top}.mw-parser-output #ws-index-main-table{display:inline-table;border-collapse:collapse;border-spacing:0
        0;box-sizing:border-box;width:100%}.mw-parser-output #ws-index-cover-container{float:left;margin:.5em
        .25em .5em 0}.mw-parser-output #ws-index[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=File%3ANeglectedArgument.pdf&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["-1"],"pages":{"-1":{"ns":6,"title":"File:NeglectedArgument.pdf","missing":"","known":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","protection":[],"restrictiontypes":["create"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?titles=File%3ANeglectedArgument.pdf&inprop=protection&prop=info&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-11-28T01:00:33Z","lastrevid":992278688,"length":324,"protection":[],"restrictiontypes":["edit","move","upload"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?titles=File%3ANeglectedArgument.pdf&iiprop=timestamp%7Cuser%7Ccomment%7Curl%7Csize%7Csha1%7Cmime%7Cmediatype%7Carchivename%7Cbitdepth&prop=imageinfo&action=query&indexpageids=&iilimit=500&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","imagerepository":"local","imageinfo":[{"timestamp":"2025-01-30T20:07:38Z","user":"JoanSevier","size":2109864,"width":756,"height":1189,"pagecount":23,"comment":"Uploaded
        a work by Charles Sanders Peirce from Internet Archive with UploadWizard","url":"https://upload.wikimedia.org/wikipedia/commons/1/1a/NeglectedArgument.pdf","descriptionurl":"https://commons.wikimedia.org/wiki/File:NeglectedArgument.pdf","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=158814456","sha1":"89c4260e5a9d79b29ad62a35baeda6d6e180ecab","mime":"application/pdf","mediatype":"OFFICE","bitdepth":0}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: titles=File%3ANeglectedArgument.pdf&iiprop=timestamp%7Cuser%7Ccomment%7Curl%7Csize%7Csha1%7Cmime%7Cmediatype%7Carchivename%7Cbitdepth%7Cmetadata&iistart=2025-01-30T20%3A07%3A38Z&iiend=2025-01-30T20%3A07%3A38Z&prop=imageinfo&action=query&indexpageids=&iilimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","imagerepository":"local","imageinfo":[{"timestamp":"2025-01-30T20:07:38Z","user":"JoanSevier","size":2109864,"width":756,"height":1189,"pagecount":23,"comment":"Uploaded
        a work by Charles Sanders Peirce from Internet Archive with UploadWizard","url":"https://upload.wikimedia.org/wikipedia/commons/1/1a/NeglectedArgument.pdf","descriptionurl":"https://commons.wikimedia.org/wiki/File:NeglectedArgument.pdf","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=158814456","sha1":"89c4260e5a9d79b29ad62a35baeda6d6e180ecab","metadata":[{"name":"Creator","value":"PDFium"},{"name":"Producer","value":"PDFium"},{"name":"CreationDate","value":"Thu
        Jan 30 15:06:15 2025 UTC"},{"name":"Tagged","value":"no"},{"name":"UserProperties","value":"no"},{"name":"Suspects","value":"no"},{"name":"Form","value":"none"},{"name":"JavaScript","value":"no"},{"name":"Pages","value":"23"},{"name":"Encrypted","value":"no"},{"name":"File
        size","value":"2109864 bytes"},{"name":"Optimized","value":"no"},{"name":"PDF
        version","value":"1.7"},{"name":"mergedMe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://upload.wikimedia.org/wikipedia/commons/1/1a/NeglectedArgument.pdf
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<meta charset=\"utf-8\">\n<title>Wikimedia
        Error</title>\n<style>\n* { margin: 0; padding: 0; }\nbody { background: #fff;
        font: 15px/1.6 sans-serif; color: #333; }\n.content { margin: 7% auto 0; padding:
        2em 1em 1em; max-width: 640px; display: flex; flex-direction: row; flex-wrap:
        wrap; }\n.footer { clear: both; margin-top: 14%; border-top: 1px solid #e5e5e5;
        background: #f9f9f9; padding: 2em 0; font-size: 0.8em; text-align: center;
        }\nimg { margin: 0 2em 2em 0; }\na img { border: 0; }\nh1 { margin-top: 1em;
        font-size: 1.2em; }\n.content-text { flex: 1; }\np { margin: 0.7em 0 1em 0;
        }\na { color: #0645ad; text-decoration: none; }\na:hover { text-decoration:
        underline; }\ncode { font-family: sans-serif; }\nsummary { font-weight: bold;
        cursor: pointer; }\ndetails[open] { background: #970302; color: #dfdedd; }\n.text-muted
        { color: #777; }\n@media (prefers-color-scheme: dark) {\n  a { color: #9e9eff;
        }\n  body { background: transparent; color: #ddd; }\n  .footer { border-top:
        1px solid #444; background: #060606; }\n  #logo { filter: invert(1) hue-rotate(180deg);
        }\n  .text-muted { color: #888; }\n}\n</style>\n<meta name=\"color-scheme\"
        content=\"light dark\">\n<div class=\"content\" role=\"main\">\n<a href=\"https://www.wikimedia.org\"><img
        id=\"logo\" src=\"https://www.wikimedia.org/static/images/wmf-logo.png\" srcset=\"https://www.wikimedia.org/static/images/wmf-logo-2x.png
        2x\" alt=\"Wikimedia\" width=\"135\" height=\"101\">\n</a>\n<div class=\"content-text\">\n<h1>Error</h1>\n\n<p>Too
        Many Requests (015d12c)</p>\n</div>\n</div>\n<div class=\"footer\"><p>If you
        report this error to the Wikimedia System Administrators, please include the
        details below.</p><p class=\"text-muted\"><code>Request served via cp3076
        cp3076, Varnish XID 936157726<br>Upstream caches: cp3076 int<br>Error: 429,
        Too Many Requests (015d12c) at Tue, 30 Jun 2026 08:18:09 GMT<br><details><summary>Sensitive
        client information</summary>IP address: 80.229.142.179</details></code></p>\n</div>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=utf-8
      retry-after:
      - '10'
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 429
      message: Too Many Requests (015d12c)
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Page%3ANeglectedArgument.pdf%2F1&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"protection":[],"restrictiontypes":["edit","move"],"proofread":{"quality":3,"quality_text":"Proofread"}}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3ANeglectedArgument.pdf%2F1&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250208190315|14856960","continue":"||info|proofread|userinfo"},"query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"proofread":{"quality":3,"quality_text":"Proofread"},"revisions":[{"revid":15917897,"parentid":14856960,"minor":"","user":"ShakespeareFan00","userid":8435,"timestamp":"2026-04-30T17:45:09Z","size":1514,"sha1":"de4c51f51eb6fb0bca3592cb3d50a6fcfb137099","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"3\" user=\"JoanSevier\" /></noinclude>{{center|{{x-larger block|A
        NEGLECTED ARGUMENT FOR THE REALITY OF GOD.\n\nC. S. PEIRCE.\n\nI.}}}}\n\n{{sc|The}}
        word \"God,\" so \"capitalised\" (as we Americans say), is the definable proper
        name, signifying ''''Ens necessarium''''; in my belief Really creator of all
        three Universes of Experience.\n\nSome words shall herein be capitalised when
        used, not as vernacular, but as terms defined.[...]
[...]
