interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Index%3ANeglectedArgument.pdf&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["4734308"],"pages":{"4734308":{"pageid":4734308,"ns":106,"title":"Index:NeglectedArgument.pdf","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:48:35Z","lastrevid":14857009,"length":123,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Index%3ANeglectedArgument.pdf&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250208190429|14856964","continue":"||info|proofread|userinfo"},"query":{"pageids":["4734308"],"pages":{"4734308":{"pageid":4734308,"ns":106,"title":"Index:NeglectedArgument.pdf","contentmodel":"proofread-index","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:48:35Z","lastrevid":14857009,"length":123,"revisions":[{"revid":14857009,"parentid":14856964,"user":"Renamed
        user 6f7c43c4e44ebb1c321e7b1e597b5d8c","userid":3156792,"timestamp":"2025-02-08T19:17:13Z","size":123,"sha1":"63d4e0d3afed02a0ae854924a47e321bad4d8a00","roles":["main"],"slots":{"main":{"contentmodel":"proofread-index","contentformat":"text/x-wiki","*":"{{:MediaWiki:Proofreadpage_index_template\n|Type=book\n|Title=[[A
        Neglected Argument for the Reality of God]]\n|Language=en\n|Volume=\n|Author=[[Author:Charles
        Sanders Peirce|C. S. Peirce]]\n|Translator=\n|Editor=\n|Illustrator=\n|School=\n|Publisher=\n|Address=\n|Year=1908\n|Key=\n|ISBN=\n|OCLC=\n|LCCN=\n|BNF_ARK=\n|ARC=\n|DOI=\n|Source=pdf\n|Image=1\n|Progress=V\n|Transclusion=yes\n|Validation_date=\n|Pages=<pagelist
        />\n|Volumes=\n|Remarks=\n|Width=\n|Header=\n|Footer=\n|tmplver=\n}}"}},"comment":"Now
        transcluded and proofread","parsedcomment":"Now transcluded and proofread","tags":["wikieditor"]}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?prppiititle=Index%3ANeglectedArgument.pdf&list=proofreadpagesinindex&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"proofreadpagesinindex":[{"pageoffset":1,"pageid":4734312,"title":"Page:NeglectedArgument.pdf/1"},{"pageoffset":2,"pageid":4734315,"title":"Page:NeglectedArgument.pdf/2"},{"pageoffset":3,"pageid":4734318,"title":"Page:NeglectedArgument.pdf/3"},{"pageoffset":4,"pageid":4742930,"title":"Page:NeglectedArgument.pdf/4"},{"pageoffset":5,"pageid":4742926,"title":"Page:NeglectedArgument.pdf/5"},{"pageoffset":6,"pageid":4742927,"title":"Page:NeglectedArgument.pdf/6"},{"pageoffset":7,"pageid":4742959,"title":"Page:NeglectedArgument.pdf/7"},{"p[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=parse&page=Index%3ANeglectedArgument.pdf&maxlag=5&format=json
  response:
    body:
      string: '{"parse":{"title":"Index:NeglectedArgument.pdf","pageid":4734308,"revid":14857009,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><style data-mw-deduplicate=\"TemplateStyles:r14927244\">.mw-parser-output
        #ws-index-container{display:table;border-spacing:1px 1px;box-sizing:border-box;width:100%}.mw-parser-output
        #ws-index-main-cell{padding:0;vertical-align:top}.mw-parser-output #ws-index-main-table{display:inline-table;border-collapse:collapse;border-spacing:0
        0;box-sizing:border-box;width:100%}.mw-parser-output #ws-index-cover-container{float:left;margin:.5em
        .25em .5em 0}.mw-parser-output #ws-index[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=fileextensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"fileextensions":[{"ext":"tiff"},{"ext":"tif"},{"ext":"png"},{"ext":"gif"},{"ext":"jpg"},{"ext":"jpeg"},{"ext":"webp"},{"ext":"xcf"},{"ext":"pdf"},{"ext":"mid"},{"ext":"ogg"},{"ext":"ogv"},{"ext":"svg"},{"ext":"djvu"},{"ext":"oga"},{"ext":"flac"},{"ext":"opus"},{"ext":"wav"},{"ext":"webm"},{"ext":"mp3"},{"ext":"midi"},{"ext":"mpg"},{"ext":"mpeg"}],"userinfo":{"id":0,"name":"80.229.142.179","anon":true,"messages":false}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=File%3ANeglectedArgument.pdf&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["-1"],"pages":{"-1":{"ns":6,"title":"File:NeglectedArgument.pdf","missing":"","known":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","protection":[],"restrictiontypes":["create"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Page%3ANeglectedArgument.pdf%2F1&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"protection":[],"restrictiontypes":["edit","move"],"proofread":{"quality":3,"quality_text":"Proofread"}}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3ANeglectedArgument.pdf%2F1&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250208190315|14856960","continue":"||info|proofread|userinfo"},"query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"proofread":{"quality":3,"quality_text":"Proofread"},"revisions":[{"revid":15917897,"parentid":14856960,"minor":"","user":"ShakespeareFan00","userid":8435,"timestamp":"2026-04-30T17:45:09Z","size":1514,"sha1":"de4c51f51eb6fb0bca3592cb3d50a6fcfb137099","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"3\" user=\"JoanSevier\" /></noinclude>{{center|{{x-larger block|A
        NEGLECTED ARGUMENT FOR THE REALITY OF GOD.\n\nC. S. PEIRCE.\n\nI.}}}}\n\n{{sc|The}}
        word \"God,\" so \"capitalised\" (as we Americans say), is the definable proper
        name, signifying ''''Ens necessarium''''; in my belief Really creator of all
        three Universes of Experience.\n\nSome words shall herein be capitalised when
        used, not as vernacular, but as terms defined.[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=userinfo&uiprop=blockinfo%7Cgroups%7Chasmsg%7Cratelimits%7Crights&formatversion=2&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"userinfo":{"id":0,"name":"160.79.106.111","anon":true,"messages":false,"groups":["*"],"rights":["createaccount","autocreateaccount","read","edit","createpage","createtalk","viewmyprivateinfo","editmyprivateinfo","editmyoptions","urlshortener-create-url","centralauth-merge","abusefilter-view","abusefilter-log","echo-read-notifications"],"ratelimits":{"edit":{"ip":{"hits":8,"seconds":60}},"badcaptcha":{"ip":{"hits":15,"seconds":60}},"wikimediaevents-hcaptcha-diff-logging":{"ip":{"hits":8,"seconds":60}},"mailpassword":{"ip":{"hits":5,"seconds":3600}},"sendemail":{"ip":{"hits":5,"seconds":86400}},"purge":{"ip":{"hits":30,"seconds":60}},"linkpurge":{"ip":{"hits":30,"seconds":60}},"renderfile":{"ip":{"hits":700,"seconds":30}},"renderfile-nonstandard":{"ip":{"hits":70,"seconds":30}},"cxsave":{"ip":{"hits":10,"seconds":30}},"urlshortcode":{"ip":{"hits":10,"seconds":120}},"post-hcaptcha-token":{"ip":{"hits":15,"seconds":60}}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","name":"Media","subpages":false,"canonical":"Media","content":false,"nonincludable":false},"-1":{"id":-1,"case":"first-letter","name":"Special","subpages":false,"canonical":"Special","content":false,"nonincludable":false},"0":{"id":0,"case":"first-letter","name":"","subpages":true,"content":true,"nonincludable":false},"1":{"id":1,"case":"first-letter","name":"Talk","subpages":true,"canonical":"Talk","content":false,"nonincludable":false},"2":{"id":2,"case":"first-letter","name":"User","subpages":true,"canonical":"User","content":false,"nonincludable":false},"3":{"id":3,"case":"first-letter","name":"User
        talk","subpages":true,"canonical":"User talk","content":false,"nonincludable":false},"4":{"id":4,"case":"first-letter","name":"Wikisource","subpages":true,"canonical":"Project","content":false,"nonincludable":false},"5":{"id":5,"case":"first-letter","name":"Wikisource
        talk","subpages":true,"canonical":"Project talk","content":false,"nonincludable":false},"6":{"id":6,"case":"first-letter","name":"File","subpages":false,"canonical":"File","content":false,"nonincludable":false},"7":{"id":7,"case":"first-letter","name":"File
        talk","subpages":true,"canonical":"File talk","content":false,"nonincludable":false},"8":{"id":8,"case":"first-letter","name":"MediaWiki","subpages":false,"canonical":"MediaWiki","content":false,"nonincludable":false,"namespaceprotection":"editinterface"},"9":{"id":9,"case":"first-letter","name":"MediaWiki
        talk","subpages":true,"canonical":"MediaWiki talk","content":false,"nonincludable":false},"10":{"id":10,"case":"first-letter","name":"Template","subpages":true,"canonical":"Template","content":false,"nonincludable":false},"11":{"id":11,"case":"first-letter","name":"Template
        talk","subpages":true,"canonical":"Template talk","content":false,"nonincludable":false},"12":{"id":12,"case":"first-letter","name":"Help","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"MediaWiki\\Api\\ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisource.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"index":1,"name":"action","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","abuselogprivatedetails","acquiretempusername","antispoof","block","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","changecontentmodel","checktoken","clearhasmsg","clientlogin","communityconfigurationedit","compare","createaccount","createlocalaccount","delete","deleteglobalaccount","discussiontoolse[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=query%2Binfo&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"MediaWiki\\Api\\ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisource.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"index":1,"name":"prop","type":["associatedpage","displaytitle","editintro","linkclasses","notificationtimestamp","preloadcontent","protection","subjectid","talkid","url","varianttitles","visitingwatchers","watched","watchers","watchlistlabels","preload","readable"],"multi":"","lowlimit":50,"highlimit":500,"limit":50,"deprecatedvalues":["preload","readable"]},{"index":2,"name":"linkcontext","type":"title","default":"Main
        Page"},{"index":3,"name":"defaultlinkcaption","type":"boolean"},{"index":4,"name":"testactions","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50},{"index":5,"name":"testactionsdetail","type":["boolean","full","quick"],"default":"boolean"},{"index":6,"name":"testactionsautocreate","type":"boolean"},{"index":7,"name":"preloadcustom","type":"string","info":[{"name":"preloadcontentonly"}]},{"index":8,"name":"preloadparams","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50,"info":[{"name":"preloadcontentonly"}]},{"index":9,"name":"preloadnewsection","type":"boolean","info":[{"name":"preloadcontentonly"}]},{"index":10,"name":"editintrostyle","type":["lessframes","moreframes"],"default":"moreframes","info":[{"name":"editintroonly"}]},{"index":11,"name":"editintroskip","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50,"info":[{"name":"editintroonly"}]},{"index":12,"name":"editintrocustom","type":"string","info":[{"name":"editintroonly"}]},{"index":13,"name":"continue","type":"string"}],"templatedparameters":[]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.121
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=extensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: "{\"batchcomplete\":true,\"query\":{\"extensions\":[{\"type\":\"media\",\"name\":\"PagedTiffHandler\",\"descriptionmsg\":\"tiff-desc\",\"author\":\"[http://www.hallowelt.biz
        HalloWelt! Medienwerkstatt GmbH], Sebastian Ulbricht, Daniel Lynge, Marc Reymann,
        Markus Glaser for Wikimedia Deutschland\",\"url\":\"https://www.mediawiki.org/wiki/Extension:PagedTiffHandler\",\"vcs-system\":\"git\",\"vcs-version\":\"e569329383aabcc11b5c654e54b91ed253a21270\",\"vcs-url\":\"https://gerrit.wikimedia.org/g/mediawiki/extensions/PagedTiffHandler/+/e569329383aabcc11b5c654e54b91ed253a21270\",\"vcs-date\":\"2026-06-08T08:13:18Z\",\"license-name\":\"GPL-2.0-or-later\",\"license\":\"/wiki/Special:Version/License/PagedTiffHandler\"},{\"type\":\"media\",\"name\":\"TimedMediaHandler\",\"namemsg\":\"timedmediahandler-extensionname\",\"descriptionmsg\":\"timedmediahandler-desc\",\"author\":\"Michael
        Dale, Jan Gerber, Derk-Jan Hartman, Brooke Vibber, Tim Starling, ...\",\"url\":\"https://www.mediawiki.org/wiki/Extension:TimedMediaHandler\",\"version\":\"0.6.0\",\"vcs-system\":\"git\",\"vcs-version\":\"f129ac92728e4cc1af08fe6918c79d9bdbd14c7f\",\"vcs-url\":\"https://gerrit.wikimedia.org/g/mediawiki/extensions/TimedMediaHandler/+/f129ac92728e4cc1af08fe6918c79d9bdbd14c7f\",\"vcs-date\":\"2026-06-17T13:07:54Z\",\"license-name\":\"GPL-2.0-or-later\",\"license\":\"/wiki/Special:Version/License/TimedMediaHandler\"},{\"type\":\"media\",\"name\":\"PDF
        Handler\",\"descriptionmsg\":\"pdf-desc\",\"author\":\"Martin Seidel, Mike
        Po\u0142ty[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=query%2Bproofread&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"proofread","classname":"ProofreadPage\\Api\\ApiQueryProofread","path":"query+proofread","group":"prop","prefix":"","source":"ProofreadPage","sourcename":"ProofreadPage","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisource.org/wiki/Special:Version/License/ProofreadPage","readrights":"","helpurls":[],"parameters":[],"templatedparameters":[]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.16
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=query%2Brevisions&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"revisions","classname":"MediaWiki\\Api\\ApiQueryRevisions","path":"query+revisions","group":"prop","prefix":"rv","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisource.org/wiki/Special:Version/License/MediaWiki","readrights":"","generator":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Revisions"],"parameters":[{"index":1,"name":"prop","type":["comment","content","contentmodel","flags","ids","parsedcomment","roles","sha1","size","slotsha1","slotsize","tags","timestamp","user","userid","parsetree"],"default":"ids|timestamp|flags|comment|user","multi":"","lowlimit":50,"highlimit":500,"limit":50,"deprecatedvalues":["parsetree"]},{"index":2,"name":"slots","type":["main"],"multi":"","lowlimit":50,"highlimit":500,"limit":50,"allspecifier":"*"},{"index":4,"name":"limit","type":"limit","min":1,"max":500,"highmax":5000,"info":[{"name":"singlepageonly"}]},{"index":5,"name":"expandtemplates","type":"boolean","deprecated":""},{"index":6,"name":"generatexml","type":"boolean","deprecated":""},{"index":7,"name":"parse","type":"boolean","deprecated":""},{"index":8,"name":"section","type":"string"},{"index":9,"name":"diffto","type":"string","deprecated":""},{"index":10,"name":"difftotext","type":"string","deprecated":""},{"index":11,"name":"difftotextpst","type":"boolean","deprecated":""},{"index":12,"name":"contentformat","type":["application/json","application/octet-stream","application/unknown","application/vue+xml","application/x-binary","text/css","text/javascript","text/plain","text/unknown","text/x-wiki","unknown/unknown"],"deprecated":""},{"index":13,"name":"startid","type":"integer","info":[{"name":"singlepageonly"}]},{"index":14,"name":"endid","type":"integer","info":[{"name":"singlepageonly"}]},{"index":15,"name":"start","type":"timestamp","info":[{"name":"singlepageonly"}]},{"index":16,"name":"end","type":"timestamp","info":[{"name":"singlepageonly"}]},{"index":17,"name":"dir","type":["newer","older"],"default":"older","info":[{"name":"singlepageonly"}]},{"index":18,"name":"user","type":"user","subtypes":["name","ip","temp","interwiki","id"],"info":[{"name":"singlepageonly"}]},{"index":19,"name":"excludeuser","type":"user","subtypes":["name","ip","temp","interwiki","id"],"info":[{"name":"singlepageonly"}]},{"index":20,"name":"tag","type":"string"},{"index":21,"name":"continue","type":"string"}],"templatedparameters":[{"index":3,"name":"contentformat-{slot}","templatevars":{"slot":"slots"},"type":["application/json","application/octet-stream","application/unknown","application/vue+xml","application/x-binary","text/css","text/javascript","text/plain","text/unknown","text/x-wiki","unknown/unknown"]}]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=proofreadinfo%7Cuserinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"proofreadnamespaces":{"index":{"id":106},"page":{"id":104}},"proofreadqualitylevels":[{"id":0,"category":"Without
        text"},{"id":1,"category":"Not proofread"},{"id":2,"category":"Problematic"},{"id":3,"category":"Proofread"},{"id":4,"category":"Validated"}],"userinfo":{"id":0,"name":"160.79.106.11","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.11
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=query%2Bproofreadpagesinindex&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"proofreadpagesinindex","classname":"ProofreadPage\\Api\\ApiQueryPagesInIndex","path":"query+proofreadpagesinindex","group":"list","prefix":"prppii","source":"ProofreadPage","sourcename":"ProofreadPage","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisource.org/wiki/Special:Version/License/ProofreadPage","readrights":"","generator":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:ProofreadPage/Index
        pagination API"],"parameters":[{"index":1,"name":"prop","type":["formattedpagenumber","ids","title","formattedPageNumber"],"default":"ids|title","multi":"","lowlimit":50,"highlimit":500,"limit":50,"deprecatedvalues":["formattedPageNumber"]},{"index":2,"name":"title","type":"string"},{"index":3,"name":"pageid","type":"integer"}],"templatedparameters":[]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.16
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=paraminfo&modules=parse&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"parse","classname":"MediaWiki\\Api\\ApiParse","path":"parse","group":"action","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//en.wikisou[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=userinfo&uiprop=blockinfo%7Cgroups%7Chasmsg%7Cratelimits%7Crights&formatversion=2&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"userinfo":{"id":0,"name":"160.79.106.101","anon":true,"messages":false,"groups":["*"],"rights":["createaccount","autocreateaccount","read","edit","createpage","createtalk","viewmyprivateinfo","editmyprivateinfo","editmyoptions","translate","urlshortener-create-url","centralauth-merge","abusefilter-view","abusefilter-log","translate-empty-category","echo-read-notifications","flow-hide","flow-edit-title","item-term","property-term","item-merge","item-redirect","property-create","wbqc-check-constraints","mediainfo-term"],"ratelimits":{"edit":{"ip":{"hits":120,"seconds":900}},"linkpurge":{"ip":{"hits":30,"seconds":60}},"badcaptcha":{"ip":{"hits":15,"seconds":60}},"wikimediaevents-hcaptcha-diff-logging":{"ip":{"hits":8,"seconds":60}},"mailpassword":{"ip":{"hits":5,"seconds":3600}},"sendemail":{"ip":{"hits":5,"seconds":86400}},"purge":{"ip":{"hits":30,"seconds":60}},"renderfile":{"ip":{"hits":700,"seconds":30}},"renderfile-nonstandard":{"ip":{"hits":70,"seconds":30}},"cxsave":{"ip":{"hits":10,"seconds":30}},"urlshortcode":{"ip":{"hits":10,"seconds":120}},"post-hcaptcha-token":{"ip":{"hits":15,"seconds":60}},"wikibase-idgenerator":{"ip":{"hits":120,"seconds":900}}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.101
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","name":"Media","subpages":false,"canonical":"Media","content":false,[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=fileextensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"fileextensions":[{"ext":"tiff"},{"ext":"tif"},{"ext":"png"},{"ext":"gif"},{"ext":"jpg"},{"ext":"jpeg"},{"ext":"webp"},{"ext":"xcf"},{"ext":"pdf"},{"ext":"mid"},{"ext":"ogg"},{"ext":"ogv"},{"ext":"svg"},{"ext":"djvu"},{"ext":"stl"},{"ext":"oga"},{"ext":"flac"},{"ext":"opus"},{"ext":"wav"},{"ext":"webm"},{"ext":"mp3"},{"ext":"midi"},{"ext":"mpg"},{"ext":"mpeg"}],"userinfo":{"id":0,"name":"160.79.106.17","anon":true,"messages":false}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 160.79.106.17
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body:
[...]
