interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F1&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["1347173"],"pages":{"1347173":{"pageid":1347173,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-08-11T06:18:46Z","lastrevid":12078556,"length":13,"protection":[],"restrictiontypes":["edit","move"],"proofread":{"quality":0,"quality_text":"Without
        text"}}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3AWittgenstein+-+Tractatus+Logico-Philosophicus%2C+1922.djvu%2F1&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20180808100600|7802376","continue":"||info|proofread|userinfo"},"query":{"pageids":["1347173"],"pages":{"1347173":{"pageid":1347173,"ns":104,"title":"Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-08-11T06:18:46Z","lastrevid":12078556,"length":13,"proofread":{"quality":0,"quality_text":"Without
        text"},"revisions":[{"revid":12078556,"parentid":7802376,"minor":"","user":"InductiveBot","userid":204982,"timestamp":"2022-01-19T14:40:33Z","size":13,"sha1":"fe99bbbfad07912ab02e069166b83895f47ac473","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"0\" user=\"Kathleen.wright5\" /></noinclude><noinclude><references/></noinclude>"}},"comment":"InductiveBot
        moved page [[Page:Wittengenstein - Tractatus Logico-Philosophicus, 1922.djvu/1]]
        to [[Page:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu/1]] without
        leaving a redirect: Moving pages to new scan [[Index:Wittgenstein - Tractatus
        Logico-Philosophicus, 1922.djvu]]: Fix spelling mistake in filename","parsedcomment":"InductiveBot
        moved page <a href=\"/w/index.php?title=Page:Wittengenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu/1&amp;action=edit&amp;redlink=1\"
        class=\"new\" title=\"Page:Wittengenstein - Tractatus Logico-Philosophicus,
        1922.djvu/1 (page does not exist)\">Page:Wittengenstein - Tractatus Logico-Philosophicus,
        1922.djvu/1</a> to <a href=\"/wiki/Page:Wittgenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu/1\"
        title=\"Page:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu/1\">Page:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu/1</a> without leaving a redirect:
        Moving pages to new scan <a href=\"/wiki/Index:Wittgenstein_-_Tractatus_Logico-Philosophicus,_1922.djvu\"
        title=\"Index:Wittgenstein - Tractatus Logico-Philosophicus, 1922.djvu\">Index:Wittgenstein
        - Tractatus Logico-Philosophicus, 1922.djvu</a>: Fix spelling mistake in filename","tags":["proofreadpage-quality0"]}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
version: 1
