interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=fileextensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"fileextensions":[{"ext":"tiff"},{"ext":"tif"},{"ext":"png"},{"ext":"gif"},{"ext":"jpg"},{"ext":"jpeg"},{"ext":"webp"},{"ext":"xcf"},{"ext":"pdf"},{"ext":"mid"},{"ext":"ogg"},{"ext":"ogv"},{"ext":"svg"},{"ext":"djvu"},{"ext":"oga"},{"ext":"flac"},{"ext":"opus"},{"ext":"wav"},{"ext":"webm"},{"ext":"mp3"},{"ext":"midi"},{"ext":"mpg"},{"ext":"mpeg"}],"userinfo":{"id":0,"name":"80.229.142.179","anon":true,"messages":false}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=userinfo&uiprop=blockinfo%7Cgroups%7Chasmsg%7Cratelimits%7Crights&formatversion=2&maxlag=5&format=json
  response:
    body:
      string: 'You are making too many requests to the API.

        Please follow the best practices at <https://www.mediawiki.org/wiki/Wikimedia_APIs/Rate_limits>.

        If you are unsure how to get the access you need, contact <bot-traffic@wikimedia.org>.'
    headers:
      content-type:
      - text/plain
      retry-after:
      - '8'
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=userinfo&uiprop=blockinfo%7Cgroups%7Chasmsg%7Cratelimits%7Crights&formatversion=2&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"userinfo":{"id":0,"name":"80.229.142.179","anon":true,"messages":false,"groups":["*"],"rights":["createaccount","autocreateaccount","read","edit","createpage","createtalk","viewmyprivateinfo","editmyprivateinfo","editmyoptions","translate","urlshortener-create-url","centralauth-merge","abusefilter-view","abusefilter-log","translate-empty-category","echo-read-notifications","flow-hide","flow-edit-title","item-term","property-term","item-merge","item-redirect","property-create","wbqc-check-constraints","mediainfo-term"],"ratelimits":{"edit":{"ip":{"hits":120,"seconds":900}},"linkpurge":{"ip":{"hits":30,"seconds":60}},"badcaptcha":{"ip":{"hits":15,"seconds":60}},"wikimediaevents-hcaptcha-diff-logging":{"ip":{"hits":8,"seconds":60}},"mailpassword":{"ip":{"hits":5,"seconds":3600}},"sendemail":{"ip":{"hits":5,"seconds":86400}},"purge":{"ip":{"hits":30,"seconds":60}},"renderfile":{"ip":{"hits":700,"seconds":30}},"renderfile-nonstandard":{"ip":{"hits":70,"seconds":30}},"cxsave":{"ip":{"hits":10,"seconds":30}},"urlshortcode":{"ip":{"hits":10,"seconds":120}},"post-hcaptcha-token":{"ip":{"hits":15,"seconds":60}},"wikibase-idgenerator":{"ip":{"hits":120,"seconds":900}}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=namespaces%7Cnamespacealiases%7Cgeneral&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","name":"Media","subpages":false,"canonical":"Media","content":false,"nonincludable":false},"-1":{"id":-1,"case":"first-letter","name":"Special","subpages":false,"canonical":"Special","content":false,"nonincludable":false},"0":{"id":0,"case":"first-letter","name":"","subpages":false,"content":true,"nonincludable":false},"1":{"id":1,"case":"first-letter","name":"Talk","subpages":true,"canonical":"Talk","content":false,"nonincludable":false},"2":{"id":2,"case":"first-letter","name":"User","subpages":true,"canonical":"User","content":false,"nonincludable":false},"3":{"id":3,"case":"first-letter","name":"User
        talk","subpages":true,"canonical":"User talk","content":false,"nonincludable":false},"4":{"id":4,"case":"first-letter","name":"Commons","subpages":true,"canonical":"Project","content":false,"nonincludable":false},"5":{"id":5,"case":"first-letter","name":"Commons
        talk","subpages":true,"canonical":"Project talk","content":false,"nonincludable":false},"6":{"id":6,"case":"first-letter","name":"File","subpages":false,"canonical":"File","content":true,"nonincludable":false},"7":{"id":7,"case":"first-letter","name":"File
        talk","subpages":true,"canonical":"File talk","content":false,"nonincludable":false},"8":{"id":8,"case":"first-letter","name":"MediaWiki","subpages":false,"canonical":"MediaWiki","content":false,"nonincludable":false,"namespaceprotection":"editinterface"},"9":{"id":9,"case":"first-letter","name":"MediaWiki
        talk","subpages":true,"canonical":"MediaWiki talk","content":false,"nonincludable":false},"10":{"id":10,"case":"first-letter","name":"Template","subpages":true,"canonical":"Template","content":false,"nonincludable":false},"11":{"id":11,"case":"first-letter","name":"Template
        talk","subpages":true,"canonical":"Template talk","content":false,"nonincludable":false},"12":{"id":12,"case":"first-letter","name":"Help","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=fileextensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":true,"query":{"fileextensions":[{"ext":"tiff"},{"ext":"tif"},{"ext":"png"},{"ext":"gif"},{"ext":"jpg"},{"ext":"jpeg"},{"ext":"webp"},{"ext":"xcf"},{"ext":"pdf"},{"ext":"mid"},{"ext":"ogg"},{"ext":"ogv"},{"ext":"svg"},{"ext":"djvu"},{"ext":"stl"},{"ext":"oga"},{"ext":"flac"},{"ext":"opus"},{"ext":"wav"},{"ext":"webm"},{"ext":"mp3"},{"ext":"midi"},{"ext":"mpg"},{"ext":"mpeg"}],"userinfo":{"id":0,"name":"80.229.142.179","anon":true,"messages":false}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=File%3ANeglectedArgument.pdf&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["-1"],"pages":{"-1":{"ns":6,"title":"File:NeglectedArgument.pdf","missing":"","known":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","protection":[],"restrictiontypes":["create"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=main%7Cparaminfo%7Cquery&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"main","classname":"MediaWiki\\Api\\ApiMain","path":"main","prefix":"","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//commons.wikimedia.org/wiki/Special:Version/License/MediaWiki","helpurls":[],"parameters":[{"index":1,"name":"action","type":["abusefiltercheckmatch","abusefilterchecksyntax","abusefilterevalexpression","abusefilterunblockautopromote","abuselogprivatedetails","acquiretempusername","aggregategroups","antispoof","block","centralauthtoken","centralnoticecdncacheupdatebanner","centralnoticechoicedata","centralnoticequerycampaign","changeauthenticationdata","changecontentmodel","checktoken","clearhasmsg","clientlogin","communityconfigurationedit","compare","createaccount","createlocalaccount","delete","deleteglobalaccount"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=query%2Binfo&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"info","classname":"MediaWiki\\Api\\ApiQueryInfo","path":"query+info","group":"prop","prefix":"in","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//commons.wikimedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Info"],"parameters":[{"index":1,"name":"prop","type":["associatedpage","displaytitle","editintro","linkclasses","notificationtimestamp","preloadcontent","protection","subjectid","talkid","url","varianttitles","visitingwatchers","watched","watchers","watchlistlabels","preload","readable"],"multi":"","lowlimit":50,"highlimit":500,"limit":50,"deprecatedvalues":["preload","readable"]},{"index":2,"name":"linkcontext","type":"title","default":"Main
        Page"},{"index":3,"name":"defaultlinkcaption","type":"boolean"},{"index":4,"name":"testactions","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50},{"index":5,"name":"testactionsdetail","type":["boolean","full","quick"],"default":"boolean"},{"index":6,"name":"testactionsautocreate","type":"boolean"},{"index":7,"name":"preloadcustom","type":"string","info":[{"name":"preloadcontentonly"}]},{"index":8,"name":"preloadparams","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50,"info":[{"name":"preloadcontentonly"}]},{"index":9,"name":"preloadnewsection","type":"boolean","info":[{"name":"preloadcontentonly"}]},{"index":10,"name":"editintrostyle","type":["lessframes","moreframes"],"default":"moreframes","info":[{"name":"editintroonly"}]},{"index":11,"name":"editintroskip","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50,"info":[{"name":"editintroonly"}]},{"index":12,"name":"editintrocustom","type":"string","info":[{"name":"editintroonly"}]},{"index":13,"name":"continue","type":"string"}],"templatedparameters":[]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=siteinfo%7Cuserinfo&siprop=extensions&formatversion=2&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: "{\"batchcomplete\":true,\"query\":{\"extensions\":[{\"type\":\"media\",\"name\":\"PagedTiffHandler\",\"descriptionmsg\":\"tiff-desc\",\"author\":\"[http://www.hallowelt.biz
        HalloWelt! Medienwerkstatt GmbH], Sebastian Ulbricht, Daniel Lynge, Marc Reymann,
        Markus Glaser for Wikimedia Deutschland\",\"url\":\"https://www.mediawiki.org/wiki/Extension:PagedTiffHandler\",\"vcs-system\":\"git\",\"vcs-version\":\"e569329383aabcc11b5c654e54b91ed253a21270\",\"vcs-url\":\"https://gerrit.wikimedia.org/g/mediawiki/extensions/PagedTiffHandler/+/e569329383aabcc11b5c654e54b91ed253a21270\",\"vcs-date\":\"2026-06-08T08:13:18Z\",\"license-name\":\"GPL-2.0-or-later\",\"license\":\"/wiki/Special:Version/License/PagedTiffHandler\"},{\"type\":\"media\",\"name\":\"TimedMediaHandler\",\"namemsg\":\"timedmediahandler-extensionname\",\"descriptionmsg\":\"timedmediahandler-desc\",\"author\":\"Michael
        Dale, Jan Gerber, Derk-Jan Hartman, Brooke Vibber, Tim Starling, ...\",\"url\":\"https://www.mediawiki.org/wiki/Extension:TimedMediaHandler\",\"version\":\"0.6.0\",\"vcs-system\":\"git\",\"vcs-version\":\"f129ac92728e4cc1af08fe6918c79d9bdbd14c7f\",\"vcs-url\":\"https://gerrit.wikimedia.org/g/mediawiki/extensions/TimedMediaHandler/+/f129ac92728e4cc1af08fe6918c79d9bdbd14c7f\",\"vcs-date\":\"2026-06-17T13:07:54Z\",\"license-name\":\"GPL-2.0-or-later\",\"license\":\"/wiki/Special:Version/License/TimedMediaHandler\"},{\"type\":\"media\",\"name\":\"PDF
        Handler\",\"descriptionmsg\":\"pdf-desc\",\"author\":\"Martin Seidel, Mike
        Po\u0142ty[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?titles=File%3ANeglectedArgument.pdf&inprop=protection&prop=info&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-11-28T01:00:33Z","lastrevid":992278688,"length":324,"protection":[],"restrictiontypes":["edit","move","upload"]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=paraminfo&modules=query%2Bimageinfo&maxlag=5&format=json
  response:
    body:
      string: '{"paraminfo":{"helpformat":"none","modules":[{"name":"imageinfo","classname":"MediaWiki\\Api\\ApiQueryImageInfo","path":"query+imageinfo","group":"prop","prefix":"ii","source":"MediaWiki","sourcename":"MediaWiki","licensetag":"GPL-2.0-or-later","licenselink":"//commons.wikimedia.org/wiki/Special:Version/License/MediaWiki","readrights":"","helpurls":["https://www.mediawiki.org/wiki/Special:MyLanguage/API:Imageinfo"],"parameters":[{"index":1,"name":"prop","type":["archivename","badfile","bitdepth","canonicaltitle","comment","commonmetadata","dimensions","extmetadata","mediatype","metadata","mime","parsedcomment","sha1","size","thumbmime","thumburls","timestamp","uploadwarning","url","user","userid"],"default":"timestamp|user","multi":"","lowlimit":50,"highlimit":500,"limit":50},{"index":2,"name":"limit","type":"limit","default":1,"min":1,"max":500,"highmax":5000},{"index":3,"name":"start","type":"timestamp"},{"index":4,"name":"end","type":"timestamp"},{"index":5,"name":"urlwidth","type":"integer","default":-1},{"index":6,"name":"urlheight","type":"integer","default":-1},{"index":7,"name":"metadataversion","type":"string","default":"1"},{"index":8,"name":"extmetadatalanguage","type":"string","default":"en"},{"index":9,"name":"extmetadatamultilang","type":"boolean"},{"index":10,"name":"extmetadatafilter","type":"string","multi":"","lowlimit":50,"highlimit":500,"limit":50},{"index":11,"name":"urlparam","type":"string","default":""},{"index":12,"name":"badfilecontexttitle","type":"string"},{"index":13,"name":"continue","type":"string"},{"index":14,"name":"localonly","type":"boolean"}],"templatedparameters":[]}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?titles=File%3ANeglectedArgument.pdf&iiprop=timestamp%7Cuser%7Ccomment%7Curl%7Csize%7Csha1%7Cmime%7Cmediatype%7Carchivename%7Cbitdepth&prop=imageinfo&action=query&indexpageids=&iilimit=500&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","imagerepository":"local","imageinfo":[{"timestamp":"2025-01-30T20:07:38Z","user":"JoanSevier","size":2109864,"width":756,"height":1189,"pagecount":23,"comment":"Uploaded
        a work by Charles Sanders Peirce from Internet Archive with UploadWizard","url":"https://upload.wikimedia.org/wikipedia/commons/1/1a/NeglectedArgument.pdf","descriptionurl":"https://commons.wikimedia.org/wiki/File:NeglectedArgument.pdf","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=158814456","sha1":"89c4260e5a9d79b29ad62a35baeda6d6e180ecab","mime":"application/pdf","mediatype":"OFFICE","bitdepth":0}]}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: titles=File%3ANeglectedArgument.pdf&iiprop=timestamp%7Cuser%7Ccomment%7Curl%7Csize%7Csha1%7Cmime%7Cmediatype%7Carchivename%7Cbitdepth%7Cmetadata&iistart=2025-01-30T20%3A07%3A38Z&iiend=2025-01-30T20%3A07%3A38Z&prop=imageinfo&action=query&indexpageids=&iilimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["158814456"],"pages":{"158814456":{"pageid":158814456,"ns":6,"title":"File:NeglectedArgument.pdf","imagerepository":"local","imageinfo":[{"timestamp":"2025-01-30T20:07:38Z","user":"JoanSevier","size":2109864,"width":756,"height":1189,"pagecount":23,"comment":"Uploaded
        a work by Charles Sanders Peirce from Internet Archive with UploadWizard","url":"https://upload.wikimedia.org/wikipedia/commons/1/1a/NeglectedArgument.pdf","descriptionurl":"https://commons.wikimedia.org/wiki/File:NeglectedArgument.pdf","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=158814456","sha1":"89c4260e5a9d79b29ad62a35baeda6d6e180ecab","metadata":[{"name":"Creator","value":"PDFium"},{"name":"Producer","value":"PDFium"},{"name":"CreationDate","value":"Thu
        Jan 30 15:06:15 2025 UTC"},{"name":"Tagged","value":"no"},{"name":"UserProperties","value":"no"},{"name":"Suspects","value":"no"},{"name":"Form","value":"none"},{"name":"JavaScript","value":"no"},{"name":"Pages","value":"23"},{"name":"Encrypted","value":"no"},{"name":"File
        size","value":"2109864 bytes"},{"name":"Optimized","value":"no"},{"name":"PDF
        version","value":"1.7"},{"name":"mergedMe[...]
