interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://en.wikisource.org/w/api.php?titles=Page%3ANeglectedArgument.pdf%2F1&inprop=protection&prop=info%7Cproofread&action=query&indexpageids=&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"protection":[],"restrictiontypes":["edit","move"],"proofread":{"quality":3,"quality_text":"Proofread"}}},"userinfo":{"id":0,"name":"80.229.142.179","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 80.229.142.179
    status:
      code: 200
      message: OK
- request:
    body: rvprop=comment%7Ccontentmodel%7Cflags%7Cids%7Cparsedcomment%7Csha1%7Csize%7Ctags%7Ctimestamp%7Cuser%7Cuserid%7Ccontent%7Croles&titles=Page%3ANeglectedArgument.pdf%2F1&rvdir=older&prop=info%7Cproofread%7Crevisions&action=query&indexpageids=&rvslots=%2A&rvlimit=1&meta=userinfo&uiprop=blockinfo%7Chasmsg&maxlag=5&format=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://en.wikisource.org/w/api.php
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250208190315|14856960","continue":"||info|proofread|userinfo"},"query":{"pageids":["4734312"],"pages":{"4734312":{"pageid":4734312,"ns":104,"title":"Page:NeglectedArgument.pdf/1","contentmodel":"proofread-page","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-04-30T17:45:09Z","lastrevid":15917897,"length":1514,"proofread":{"quality":3,"quality_text":"Proofread"},"revisions":[{"revid":15917897,"parentid":14856960,"minor":"","user":"ShakespeareFan00","userid":8435,"timestamp":"2026-04-30T17:45:09Z","size":1514,"sha1":"de4c51f51eb6fb0bca3592cb3d50a6fcfb137099","roles":["main"],"slots":{"main":{"contentmodel":"proofread-page","contentformat":"text/x-wiki","*":"<noinclude><pagequality
        level=\"3\" user=\"JoanSevier\" /></noinclude>{{center|{{x-larger block|A
        NEGLECTED ARGUMENT FOR THE REALITY OF GOD.\n\nC. S. PEIRCE.\n\nI.}}}}\n\n{{sc|The}}
        word \"God,\" so \"capitalised\" (as we Americans say), is the definable proper
        name, signifying ''''Ens necessarium''''; in my belief Really creator of all
        three Universes of Experience.\n\nSome words shall herein be capitalised when
        used, not as vernacular, but as terms defined.[...]
